doctype html
html(lang="en")
  head
    title Cloud checkout

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/app.css")

    script(type="text/javascript").
      Param = {
          Reference : "<?=$_GET['r'];?>",
          ShopKey : "<?=$_GET['s'];?>",
      }
    
  body

    // Header
    header#header
      a(href="https://www.picture.com")  
        img#logo(src="img/picturedotcom_trans.png")
      nav(style="display:none;")
        span(href="#",data-model="order.currency")
        span(href="#",data-model="order.language")

    // Main
    #content
      div#main.container
        .row
          section(class="12u$").text-center
            ul.steps
              li(data-view="Product") 1. Product
              li(data-view="Address") 2. Address
              li(data-View="Confirm") 3. Confirm
              li(data-view="Success") 4. Success
           
        //Intro
        .boxed: .row

          section(class="6u")

            .template(data-template="product.image")
              h1: span(data-model="product.locales_name")
              ul.images(data-js="product.files")
              input(type="hidden",data-js="product.id", data-model="product.id")
              input(type="hidden",data-js="product.product_id", data-model="product.product_id")


            .template(data-template="product.spinner")
              .flex
                h2 Amount
                div.spinner
                  span(data-js="product-dec") -
                  span(data-model="product.count").count
                  span(data-js="product-inc") +

            .template(data-template="voucher.add")
              h2 Add a voucher
              .row.uniform
                div(class="9u 12u$(small)")
                  input(type="text", data-js="voucher.value", placeholder="Voucher")
                div(class="3u$ 12u$(small)")
                  input(type="submit", class="fit", data-js="voucher.submit", value="Add")

            .template(data-template="voucher.list")
              h2 Your voucher:
                span(data-model="order.voucher").discount

            .template(data-template="address")
              h1 Enter your address
              input(type="hidden",data-js="address.id", data-model="address.id")
              input(type="hidden",data-js="address.type", data-model="address.type")
              .row.uniform 
                div(class="12u$")
                  input(type="text",data-js="address.email", data-model="address.email", placeholder="Email")
                div(class="6u")
                  input(type="text",data-js="address.firstname", data-model="address.firstname", placeholder="Firstname")
                div(class="6u$")
                  input(type="text",data-js="address.lastname", data-model="address.lastname", placeholder="Lastname")
                div(class="12u$")
                  input(type="text",data-js="address.street1", data-model="address.street1", placeholder="Street")
                div(class="4u")
                  input(type="text",data-js="address.zip", data-model="address.zip", placeholder="Zip")
                div(class="8u$")
                  input(type="text",data-js="address.city", data-model="address.city", placeholder="City")
                div(class="12u$")
                  div.select-wrapper
                    select(data-js="address.country")


          section(class="6u").bully


            .template(data-template="product.options")
              h2 Product options
              table.alt(data-js="product.options")

            .template(data-template="confirm.address")
              h2 Confirm Your address
              table.alt: tbody
                tr
                  td Firstname
                  td: span(data-model="address.firstname")
                tr
                  td Lastname
                  td: span(data-model="address.lastname")
                tr
                  td Street
                  td: span(data-model="address.street1")
                tr
                  td Zip
                  td: span(data-model="address.zip")
                tr
                  td City
                  td: span(data-model="address.city")
                tr
                  td Country
                  td: span(data-model="address.country")
            

            .template(data-template="confirm.order")
              h2 Confirm Your order
              table.alt
                thead
                  tr
                    th Description
                    th Price
                tbody
                  tr
                    td Price
                    td: span(data-model="order.items_price")
                  tr
                    td Shipping
                    td: span(data-model="order.shipping_price")
                  tr
                    td Sales tax / Vat
                    td: span(data-model="order.vat_price")
                  tr(data-js="toggle.discount")
                    td Discount
                    td: span(data-model="order.total_discount")
                tfoot
                  tr
                    td Total
                    td: strong(data-model="order.total_price")

            .template(data-template="product.details")
              h2 Product Details
              table.alt
                tbody
                  tr
                    td Price pr. item
                    td: span(data-model="product.retail_price_total")
                  tr
                    td Count
                    td: span(data-model="product.count")
                tfoot
                  tr
                    td: strong Total
                    td: strong(data-model="product.user_price_total")

          section(class="12u$")

            .template(data-template="success").text-center
              h1 SUCCESS

            .template(data-template="404").text-center
              h1 404 Not Found

            a.template(data-template="action-back",data-js="click-back").button.big.pull-left Back
            a.template(data-template="action-next",data-js="click-next").button.big.pull-right Next
            a.template(data-template="action-home",data-js="click-home").button.big.pull-right Home

            div(data-js="error")#error



  // Scripts
  script(src="assets/jquery/jquery.js")
  script(src="assets/baseline/skel.min.js")
  script(src="assets/baseline/main.js")
  script(src="assets/accounting.js/accounting.js")
  script(src="js/app.js")

