@import baseline/main.scss

// Utitilty classes
.text-center
  text-align: center
.pull-right
  float: right
.template
  display: none


body
  background: url('../img/bg-resnap.jpg')
  padding-top: 200px
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  

header#header
  background: #FFF
  height: 70px
  line-height: 70px
  text-align: center
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1)
  img#logo
  span 
    margin-left: 10px
    color: #333

#main
  background: #FFF
  padding: 60px
